 /* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #007bff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 



/* ================
Calendar Styling */
.calendar {
  border-radius: 10px;
  height:100%;
 
}

.month {
  font-size: 1.75rem;
}





@media (min-width: 992px) {
  .month {
    font-size: 2rem;
  }
}

.week {
	font-size: .75rem;
}



@media (min-width: 761px) {
  .week {
    font-size: .5rem;
  }
}

@media (min-width: 992px) {
  .week {
    font-size: .75rem;
  }
}
.calendar-cell{
  float: left;
  width: 14.28571%;
  
 
}



.calendar-cell-header{
	width: 14.28571%;
}

.calendar-row{
	position:relative;
	height:auto;
	
	
}

.calendar-table {
	position:relative;
	height:100%;
}

.calendar-table td {
	height:100%;
}

.dummy{
	
	
}

.calendar-row-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: visible;
	
	
}

.calendar .day-names {
  border-bottom: 1px solid #eee;
}

.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.calendar .days {
  border-bottom: 1px solid #eee;
  
}

.calendar .days .date {
  margin: 0rem ;
  
}

.calendar .days li .event {
  font-size: 0.75rem;
  padding: 0rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4rem;
  margin-bottom: 1px;
}

.calendar-span-0{
	width: 100%;
}

.calendar-span-1{
	width: 100%;
}

.calendar-span-2{
	width: 200%;
}
.calendar-span-3{
	width: 300%;
}
.calendar-span-4{
	width: 400%;
}
.calendar-span-5{
	width: 500%;
}
.calendar-span-6{
	width: 600%;
}
.calendar-span-7{
	width: 700%;
}

.calendar-event{
	display:inline-block;
	text-shadow: 0 0px 3px rgba(0, 0, 0, 1.0);
}

.begin {
  border-radius: 1rem 0 0 1rem;
}

.end {
  border-radius: 0 1rem 1rem 0;
}

.both {
	border-radius: 1rem ;
}

.calendar .days li .event.clear {
  background: none;
}

.calendar .days li:nth-child(n+29) {
  border-bottom: none;
}

.calendar .days li.outside .date {
  color: #ddd;
}

.calendar-hour{
	float: left;
	width: 1.04166%;
	height:100%;
}

.hour{
	overflow:visible !important;
	white-space: nowrap;
	
}


.hour-backdrop{
	border: 0px solid #eee;
}

.sunset-colors{
	 background-image: linear-gradient(to right, MidnightBlue , cyan, MidnightBlue);
}

.calender-event-day-text{
	white-space: nowrap;
	display:inline-block
	float:left;
	position:relative;
	overflow: visible;
	background: rgba(0, 0, 0, 0.3);
  	color: #fff;
  	text-align: left;
  	padding: 1rem;
  	margin-top:.25rem;
  	margin-left:.25rem;
  	
  	 border-radius: 0 1rem 1rem 1rem;
  	
  	 
  top: 100%;
  left: 50%;
 
}

.added-cal-style{}
